<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연등 리스트 페이지</title>
</head>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top : 40px;
    }
</style>
<body>
    <div class="layout">
    <table>
        <thead>
        <tbody>
        <tr>
            <th>연등번호</th>
            <th>닉네임(제목)</th>
        </tr>
    </tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
        </tr>
        </thead>
    </table>
    </div>
</body>
</html>